
#red {
    width: 200px;
    height: 142px;
    background-color: red;
   
}
#yellow { 
     width: 200px;
    height: 142px;
    background-color: yellow;
    display: inline-block;
}
#blue {
     width: 200px;
    height: 142px;
    background-color: blue;
}
#green {
     width: 200px;
    height: 142px;
    background-color: green;
}
#purple {
     width: 200px;
    height: 142px;
    background-color: purple;
}
#lilgreen {
     width: 200px;
    height: 142px;
    background-color: lightgreen;
}
#lilblue {
     width: 200px;
    height: 142px;
    background-color: lightblue;
}
#grey2 {
     width: 200px;
    height: 142px;
    background-color: lightgray;
}
#piky {
     width: 200px;
    height: 142px;
    background-color: pink;
}
#pink {
     width: 200px;
    height: 142px;
    background-color: pink;
}
#grey {
     width: 200px;
    height: 142px;
    background-color: lightgray;
}
#lightblue {
     width: 200px;
    height: 142px;
    background-color: lightblue;
}
#lightgreen {
     width: 200px;
    height: 142px;
    background-color: lightgreen;
}
#lightpurple {
     width: 200px;
    height: 142px;
    background-color: plum;
}
#gren {
     width: 200px;
    height: 142px;
    background-color: green;
}
#yeller {
     width: 200px;
    height: 142px;
    background-color: yellow;
}
#re2 {
     width: 200px;
    height: 142px;
    background-color: red;
}
#d1 {
    display: inline-block;
}