p {display:inline-block

}
#pink {
    height: 700px;
    width: 700px;
    background-color: pink;
    margin-top: 300px;
    margin-left: 330px;

}
#teal {
     height: 232.5px;
    width: 450px;
    background-color: aquamarine;
   
}
#blue {
     height: 232.5px;
    width: 450px;
    background-color: rgb(127, 127, 255);
}
#purple {
     height: 232.5px;
    width: 450px;
    background-color:rgb(217, 160, 247);
}
#yellow {
     height: 700px;
    width: 700px;
    background-color: rgb(242, 242, 150);
    margin-left: 1480 ;
    margin-top: -718px;
   
}
#teal,#blue,#purple {
    display:  block;
    margin-left: 1030px;
    margin-top: -715px;
}
#blue,#purple {
    margin-top: -16px;
}
#pink,#teal,#blue,#purple,#yellow {
   
}

