body {
    background-color: rgb(36, 36, 37);
}

#topbar {
    background-color: rgb(46, 48, 56);
    width: auto;
    height: 92px;
    margin-top: -8px;
    margin-left: -20px;
    margin-right: -20px;
}
p {
    display: inline-block;
    margin: 20px;
}
#image1 {
    height: 57px;
    margin-top: -90px;
    max-width: 600px;
    margin-left: auto;
    margin-right: 1800px;
    display: block;
}
#applogos {
    height: 55px;
    margin-top: -54px;
    margin-left: auto;
    margin-right: 990px;
    display: block;
    
}
.toptext {
    color:white;
    font-size: 22px;
    font-family: monospace;
    text-align: end;
    max-width: 82%;
    margin-top: -36px;
}
.firstrow {
    margin: 30px;
    text-align: center;
    height: 330px;
}